<!doctype html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Untitled Document</title>
    <style type="text/css">
        body {
            width: 100% !important;
            margin: 0 auto !important;
            padding: 0;
            background: #F5F6F7;
            margin: 0;
        }
    </style>
</head>

<body topmargin="0" leftmargin="0;" rightmargin="0;" bottommargin="0">
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td height="25"></td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <table width="650" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td>
                        <table width="650" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                            <tbody>
                            <tr style="background-color: #8c0000;">
                                <td height="130" align="center" valign="middle"
                                    style="padding-left: 10px;padding-right: 10px;">
                                    <img src="https://vip.cankan.de/content/img/logo_white.svg" width="130" style="display: inline-block;width: 130px; "/>
                                </td>
                            </tr>
                            <tr>
                                <td height="50">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td height="30" align="left" valign="top">
                                                <font face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif"
                                                      color="#333333" style="font-size:18px;">
                                                    Merhaba,
                                                </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top">
                                                <font color="#333333"
                                                      face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif"
                                                      style="font-size: 16px;">
                                                    Bu e-postayı gönderiyoruz çünkü senin için yeni bir görev var.
                                                    <br/>

                                                </font>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="3"
                                    style="font-family: esqmarket-medium, Helvetica, sans-serif; font-weight: 600; border-radius: 4px; font-size: 16px; line-height: 26px; text-align: center">
                                    <a href="https://vip.cankan.de"
                                       target="_blank"
                                       style="width: 130px; margin-top: 50px;background-color: #8c0000; padding: 8px 24px;
                                    border-color: #8c0000; border-style: solid; border-width: 1px; text-decoration:
                                    none; border-radius: 4px; color: #ffffff; display: inline-block">
                                        VIP Sayfasına Git
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="100" align="center" valign="bottom">
                                    <font face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif"
                                          color="#333333" style="font-size: 12px;">
                                        Lütfen bu e-postayı yanıtlamayınız.
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td height="50">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="25"></td>
    </tr>
    </tbody>
</table>
</body>

</html>
